@font-face {
  font-family: "Inter var";
  src: url(/fonts/Inter-roman-latin.var.woff2);
}

@font-face {
  font-family: "FiraCode";
  src: url(/fonts/FiraCode.woff2);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter var";
  font-weight: 700;
}

.font-code {
  font-family: "FiraCode";
}
